h1 {
    padding-top: 20px;
}
.svg-img {
    display: inline-flex;
    align-self: center;
    position: inherit;
    padding-top: 20px;
}
.icons {
    padding-top: 50px;
    display: block;
    align-self: center;
}
.icons-index {
    padding-left: 50px;
}
.icons-4 {
    padding-right: 50px;
}
